@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--bg-light-primary);
    color: var(--text-dark-primary);
}

body{
    font-size: 1em;
}

:root {
    --primary: #AA71FF;
    --primary-hover: #8C3EFF;
    --primary-clicked: #C8A4FF;
    --secondary: #FCA7E4;
    --secondary-hover: #FA65D0;
    --secondary-clicked: #FEE9F8;
    --green: #62D26F;
    --yellow: #FFDD2B;
    --orange: #FD612C;
    --blue: #7A71F6;
    --red: #E8384F;
    --text-dark-primary: #151918;
    --text-dark-secondary: #2c3432;
    --text-light-primary: #fcfcfc;
    --text-light-secondary: #d7dddc;
    --grey-primary: #8d9f9b;
    --grey-light: #a9b6b3;
    --grey-dark: #4b5956;
    --bg-dark-primary: #05000b;
    --bg-dark-secondary: #19003e;
    --bg-light-primary: #fbf9ff;
    --bg-light-secondary: #f1e8ff;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%; 
    background: var(--bg-light-primary);
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
}

.container .content{
    flex: 1 1 400px;
}

.container .image{
    flex: 1 1 400px;
}

.container .image img{
    width: 100%;
    margin-left: 20%;
}

.container .content .title{
    font-size: 3em;
    text-transform: uppercase;
    color: var(--primary);
}

.container .content p{
    color: var(--text-dark-secondary);
    letter-spacing: 1px;
    line-height: 150%;
    padding: 15px 0;
}

.container .content .count-down{
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.container .content .count-down .box{
    padding: 5px;
    background: var(--bg-light-secondary);
    border: 1px solid var(--grey-dark);
    text-align: center;
    flex: 1 1 20px;
}

.container .content .count-down .box h3{
    font-size: 2.5em;
    background: var(--bg-light-secondary);
}

.container .content .count-down .box span{
    font-size: 1.2em;
    background: var(--bg-light-secondary);
    color: var(--primary-hover);
    padding-top: 5px;
}

.container .content .btn{
    display: inline-block;
    padding: 8px 50px;
    margin: 10px 0;
    color: var(--text-light-primary);
    background: var(--primary);
    font-size: 1.5em;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-bottom: 24px;
    transition: .2s ease-in-out;
}

.container .content .btn:hover{
    letter-spacing: 2px;
    background: var(--primary-hover);
}


@media (max-width:500px){
    .container{
        padding: 30px;
        display: inline-block; /* try adding display: inline-block; on those elements (that dont work) https://stackoverflow.com/questions/29702002/why-wont-my-margins-change-css */
    }

    .container .content .title{
        font-size: 1em;
    }
    
    .container .content{
        font-size: 0.9em;
        
    }

    .container .image img{
        width: 50%;
        margin-left: 8%;
    }

    .container .content .btn{
       display: grid;
       margin: auto;
       text-align: center;
       max-width: 80%;
       margin-top: 10px;
       margin-bottom: 12%;  
    }

    .container .content .count-down {
        gap: 5px;
    }
   
}

@media (max-width:780px){
    .container{
        padding: 10px;
        display: block; /* try adding display: inline-block; on those elements (that dont work) https://stackoverflow.com/questions/29702002/why-wont-my-margins-change-css */
    }

    .container .content .title{
        font-size: 1.5em;
    }
    
    .container .content{
        font-size: 0.9em;
        
    }

    .container .image img{
        width: 80%;
        margin: auto;
    }

    .container .content .btn{
       display: grid;
       margin: auto;
       text-align: center;
       max-width: 80%;
       margin-top: 20px;
       margin-bottom: 15%;  
    }

    .container .content .count-down {
        gap: 15px;
    }
}

@media (max-width:990px){
    .container{
        padding: 30px;
        display: inline-block; /* try adding display: inline-block; on those elements (that dont work) https://stackoverflow.com/questions/29702002/why-wont-my-margins-change-css */
    }

    .container .content .title{
        font-size: 2em;
        margin: 20px 0;
    }
    
    .container .content{
        font-size: 1.2em;
        
    }

    .container .image img{
        width: 100%;
        display: flex;
        
    }

    .container .content .btn{
       display: grid;
       margin: auto;
       text-align: center;
       max-width: 80%;
       margin-top: 5%;
       margin-bottom: 10%;  
    }

    .container .content .count-down {
        gap: 10px;
    }
}